<div class="keyboard-grid">
        <!-- Numbers Row -->
        <div class="keyboard-row">
          <div class="key" data-key="१">१</div>
          <div class="key" data-key="२">२</div>
          <div class="key" data-key="३">३</div>
          <div class="key" data-key="४">४</div>
          <div class="key" data-key="५">५</div>
          <div class="key" data-key="६">६</div>
          <div class="key" data-key="७">७</div>
          <div class="key" data-key="८">८</div>
          <div class="key" data-key="९">९</div>
          <div class="key" data-key="०">०</div>
        </div>
        
        <!-- Vowels Row -->
        <div class="keyboard-row">
          <div class="key" data-key="अ">अ</div>
          <div class="key" data-key="आ">आ</div>
          <div class="key" data-key="इ">इ</div>
          <div class="key" data-key="ई">ई</div>
          <div class="key" data-key="उ">उ</div>
          <div class="key" data-key="ऊ">ऊ</div>
          <div class="key" data-key="ए">ए</div>
          <div class="key" data-key="ऐ">ऐ</div>
          <div class="key" data-key="ओ">ओ</div>
          <div class="key" data-key="औ">औ</div>
        </div>
        
        <!-- Consonants Row 1 -->
        <div class="keyboard-row">
          <div class="key" data-key="क">क</div>
          <div class="key" data-key="ख">ख</div>
          <div class="key" data-key="ग">ग</div>
          <div class="key" data-key="घ">घ</div>
          <div class="key" data-key="ङ">ङ</div>
          <div class="key" data-key="च">च</div>
          <div class="key" data-key="छ">छ</div>
          <div class="key" data-key="ज">ज</div>
          <div class="key" data-key="झ">झ</div>
          <div class="key" data-key="ञ">ञ</div>
        </div>
        
        <!-- Consonants Row 2 -->
        <div class="keyboard-row">
          <div class="key" data-key="ट">ट</div>
          <div class="key" data-key="ठ">ठ</div>
          <div class="key" data-key="ड">ड</div>
          <div class="key" data-key="ढ">ढ</div>
          <div class="key" data-key="ण">ण</div>
          <div class="key" data-key="त">त</div>
          <div class="key" data-key="थ">थ</div>
          <div class="key" data-key="द">द</div>
          <div class="key" data-key="ध">ध</div>
          <div class="key" data-key="न">न</div>
        </div>
        
        <!-- Consonants Row 3 -->
        <div class="keyboard-row">
          <div class="key" data-key="प">प</div>
          <div class="key" data-key="फ">फ</div>
          <div class="key" data-key="ब">ब</div>
          <div class="key" data-key="भ">भ</div>
          <div class="key" data-key="म">म</div>
          <div class="key" data-key="य">य</div>
          <div class="key" data-key="र">र</div>
          <div class="key" data-key="ल">ल</div>
          <div class="key" data-key="व">व</div>
          <div class="key" data-key="श">श</div>
        </div>
        
        <!-- Consonants Row 4 -->
        <div class="keyboard-row">
          <div class="key" data-key="ष">ष</div>
          <div class="key" data-key="स">स</div>
          <div class="key" data-key="ह">ह</div>
          <div class="key" data-key="क्ष">क्ष</div>
          <div class="key" data-key="त्र">त्र</div>
          <div class="key" data-key="ज्ञ">ज्ञ</div>
          <div class="key" data-key="ऋ">ऋ</div>
          <div class="key" data-key="्">्</div>
          <div class="key" data-key="़">़</div>
          <div class="key" data-key="ं">ं</div>
        </div>
        
        <!-- Matras Row -->
        <div class="keyboard-row">
          <div class="key" data-key="ा">ा</div>
          <div class="key" data-key="ि">ि</div>
          <div class="key" data-key="ी">ी</div>
          <div class="key" data-key="ु">ु</div>
          <div class="key" data-key="ू">ू</div>
          <div class="key" data-key="े">े</div>
          <div class="key" data-key="ै">ै</div>
          <div class="key" data-key="ो">ो</div>
          <div class="key" data-key="ौ">ौ</div>
          <div class="key" data-key="ः">ः</div>
        </div>
        
        <!-- Special Keys Row -->
        <div class="keyboard-row">
          <div class="key special" data-key="backspace">⌫ Delete</div>
          <div class="key space" data-key=" ">Space</div>
          <div class="key special" data-key="enter">↵ Enter</div>
        </div>
      </div>
    </div>
  </div>
